body {
    background-image: url(../img/hatter.jpg);
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: 
    "header header header"
    "nav aside article"
    "footer footer footer";
}
header {
    grid-area: header;
    background-image: url(../img/fejlec.jpg);
    color: white;
    text-align: center;
    height: 100px;
    max-height: 100px;
    padding: 25px;
}
nav {
    grid-area: nav;
}
article {
    grid-area: article;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}



ul li {
    list-style-type: none;
}

aside img {
    width: 40%;
}